.contests-list{
    width: 100%;
    margin-top: 50px;
}
.contest-preview{
    border: 1px solid var(--color-violet);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 50px;
}
.contest-preview>.title{
    font-size: 24px;
    color: var(--color-violet);
    margin-bottom: 20px;
}
.contest-preview>.edit-links>.button{
    display: inline-flex;
    /* width: 150px; */
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 20px;
    background: var(--color-purple);
    color: var(--color-dark);
    transition: all .3s;
    border: none
}
.contest-preview>.edit-links>.button:hover{
    background: #4244CB;
    color: #fff
}
.contest-preview>.edit-links>.button:last-child{
    background: #EBC4C4;
    color: #C85456
}
.contest-preview>.edit-links>.button:last-child:hover{
    background: #E5AEAE
}